$buttonColor: #fff;
$buttonHoverColor: #ff0;

@mixin button($align) {
  color: $buttonColor;
  text-align: $align;
  margin: 4px;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    color: $buttonHoverColor !important;
    transform: scale(1.03) !important;
  }
}

/* Home page*/
.home {
  @include flexCenter();
  height: 100vh;
  height: 100vh;
  
  .center{
    @include flex(row);
    height: 90%;
    width: 90%;

    .actions {
      @include flex(column);
      width: 30%;
      .container {
        @include flexCenter();
        @include spacer(50%);
        .stack {
          position: relative;
          width: 200px;
          height: 200px;
      
          .image {
            @include imageInit(0deg);
            position: absolute;
          }
      
          .action-list {
            @include flex(column);
            position: absolute;
            top: 50px;
            right: 50px;
      
            .button {
              @include button(right);
            }
          }
        }
      }
      .spacer {
        @include spacer(50%);
      }
    }
  
    .middle {
      @include flex(column);
      width: 40%;
      height: 100%;
      justify-content: center;
      .container {
        @include spacer(33%);
        h1 {
          font-size: 128px;
          text-align: center;
        }
        p {
          font-size: 1.6rem;
        }
      }
      .spacer {
        @include spacer(34%);
      }
    }
    
    .projects {
      @include flex(column);
      width: 30%;
      .spacer {
        @include spacer(50%);
      }
      .container {
        @include flexCenter();
        @include spacer(50%);
        .stack {
          position: relative;
          width: 200px;
          height: 200px;
          .image {
            @include imageInit(180deg);
            position: absolute;
          }
          .project-list {
            @include flex(column);
            position: absolute;
            bottom: 50px;
            left: 50px;
            .button{
              @include button(left);
            }
          }
        }
      }
    }
  }
}

#home-btn {
  color: $buttonHoverColor;
  transform: scale(1.03);
}
#none-btn {
  color: $buttonHoverColor;
  transform: scale(1.03);
}