

@mixin selectedButton{
  color: black;
  background-color: $buttonHoverColor;
  text-align: center;
  transform: scale(1.04);
  margin: 0.25rem;
  font-size: $buttonFontSize;
  letter-spacing: 0.05rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
  &::before {
    content: '   ';
    white-space: pre;
  }
  &::after {
    content: '   ';
    white-space: pre;
  }
}

@mixin button($align) {
  color: $buttonColor;
  text-align: center;
  margin: 0.25rem;
  font-size: $buttonFontSize;
  letter-spacing: 0.05rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
  &:hover {
    @include selectedButton();
  }
  &::before {
    content: '   ';
    white-space: pre;
  }
  &::after {
    content: '   ';
    white-space: pre;
  }
}

/* Home page*/
.home {
  @include flexCenter();
  height: 100vh;
  
  .row{
    @include flex(row);
    height: 90%;
    width: 100%;
    .actions {
      @include fadeIn();
      @include flex(column);
      width: 25%;
      padding-left: 4rem;
      @include mobile(1100px) {
        padding-left: 0rem;
        opacity: 0 !important;
        width: 0px;
      }
      .container {
        @include flexCenter();
        @include spacer(50%);
        .stack {
          position: relative;
          width: 10.5rem;
          height: 10.5rem;
          
          .actions-label {
            position: absolute;
            top: -2.4rem;
            right: 2.7rem;
            font-size: $h3FontSize;
            letter-spacing: 0.08rem;
          }
          .image {
            @include imageInit(0deg);
            position: absolute;
          }
      
          .action-list {
            @include flex(column);
            position: absolute;
            top: 1.6rem;
            right: 1.4rem;
            // action buttons
          }
        }
      }
      .spacer {
        @include spacer(50%);
      }
    }
  
    .middle {
      @include fadeIn();
      @include flex(column);
      width: 50%;
      height: 100%;
      justify-content: center;
      @include mobile(1100px) {
          width: 100%;
      }
      .container {
        @include spacer(33%);
        display: flex;
        justify-content: center;
        h1 {
          font-size: 8rem;
          text-align: center;
          letter-spacing: 0.8rem;
          @include mobile(1400px) {
            font-size: 6rem;
            margin-bottom: 0rem;
            margin-top: 9rem;
          }
          @include mobile {
            font-size: 4rem;
            margin-bottom: 0rem;
            margin-top: 9rem;
          }
        }
        .paragraph {
          width: clamp(300px, 90%, 1000px);
          padding: 1.1rem 10%;
          // text
        }
      }
      .spacer {
        @include spacer(34%);
      }
    }
    
    .projects {
      @include fadeIn();
      @include flex(column);
      width: 25%;
      padding-right: 4rem;
      @include mobile(1100px) {
        padding-right: 0rem;
        opacity: 0 !important;
        width: 0px;
      }
      .spacer {
        @include spacer(50%);
      }
      .container {
        @include flexCenter();
        @include spacer(50%);
        .stack {
          position: relative;
          width: 10.5rem;
          height: 10.5rem;
          .nav-label {
              position: absolute;
              bottom: -2.3rem;
              left: 2.7rem;
              font-size: $h3FontSize;
              letter-spacing: 0.08rem;
            }
          .image {
            @include imageInit(180deg);
            position: absolute;
            opacity: 0.98; //correcting image color
          }
          .project-list {
            @include flex(column);
            position: absolute;
            bottom: 1.6rem;
            left: 1.4rem;
            
            // project buttons
          }
        }
      }
    }
  }
}

.action-button {
  @include button(right);
}

.selected-action-button {
  @include selectedButton();
}

.nav-button {
  @include button(left);
}

.selected-nav-button {
  @include selectedButton();
}



.text {
  @include text();
  text-align: justify;
}

.text-red {
  background-color: $textBackgroundColor;
  clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
  @include fadeInBackgroundColor();

  &::before {
    content: ' ';
    white-space: pre;
  }

  &::after {
    content: ' ';
    white-space: pre;
  }
}