/* Reusable CSS */
$buttonColor: #EDEDED;
$buttonHoverColor: rgba(255, 219, 97, 1);
$textColor: #EDEDED;
$textBackgroundColor: rgba(198, 80, 60, 0.9);
$backgroundColor: #071126;


//$buttonHoverColor: rgba(255,219,97,1);

$buttonFontSize: 1.1rem;
$h2FontSize: 4rem;
$h3FontSize: 1.6rem;

@mixin text() {
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
  font-weight: 300;
  backdrop-filter: blur(2px); // TODO:
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spacer($percentage) {
  height: $percentage;
  width: 100%;
}

@mixin imageInit($orientation) {
  width: inherit;
  height: inherit;
  transform: rotate($orientation);
  backdrop-filter: blur(1px);
  cursor: none;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin mobile($limit: 600px) {
  @media (max-width: $limit) {
    @content;
  }
}

@mixin fadeIn() {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin fadeInBackgroundColor {
  background-color: transparent;
  animation: fadeInBackgroundColor 1s ease-in forwards;
}

@keyframes fadeInBackgroundColor {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: $textBackgroundColor;
  }
}