/* Reusable CSS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBackgroundColor {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #c6503c;
  }
}
/* Set up */
@media (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

body {
  position: absolute;
  background-color: #071126;
  margin: 0;
  width: calc(100vw - 16px);
  height: 100vh;
  overflow-x: hidden;
  font-family: "Lato";
  margin-right: 16px;
}
@media (max-width: 600px) {
  body {
    width: calc(100vw - 16px + 16px);
    margin-right: 0px;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#actionLabel {
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: "12";
  color: white;
  opacity: "0";
  z-index: 1;
  pointer-events: none;
}

/* Performance switch */
#performance-switch-container {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
}
#performance-switch-container .switchLabel {
  z-index: 1;
  font-size: 14px;
  color: #eee;
  margin: 5px 2px;
  display: flex;
  align-items: center;
}
#performance-switch-container .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 5px;
}
#performance-switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#performance-switch-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  transition: 0.4s;
}
#performance-switch-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #ddd;
  transition: 0.4s;
}
#performance-switch-container .switch input:checked + .slider {
  background-color: #333;
}
#performance-switch-container .switch input:focus + .slider {
  box-shadow: 0 0 1px #333;
}
#performance-switch-container .switch input:checked + .slider:before {
  transform: translateX(20px);
}
#performance-switch-container .switch .slider.round {
  border-radius: 34px;
}
#performance-switch-container .switch .slider.round:before {
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  overflow-x: hidden;
}

/* Home page */
/* Home page*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home .center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
  width: 100%;
}
.home .center .actions {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding-left: 4rem;
}
@media (max-width: 1100px) {
  .home .center .actions {
    padding-left: 0rem;
    opacity: 0 !important;
    width: 0px;
  }
}
.home .center .actions .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.home .center .actions .container .stack {
  position: relative;
  width: 10.5rem;
  height: 10.5rem;
}
.home .center .actions .container .stack .actions-label {
  position: absolute;
  top: -2.4rem;
  right: 2.7rem;
  font-size: 1.5rem;
  color: #eee;
}
.home .center .actions .container .stack .image {
  width: inherit;
  height: inherit;
  transform: rotate(0deg);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: absolute;
}
.home .center .actions .container .stack .action-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1.6rem;
  right: 1.4rem;
}
.home .center .actions .spacer {
  height: 50%;
  width: 100%;
}
.home .center .middle {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  justify-content: center;
}
@media (max-width: 1100px) {
  .home .center .middle {
    width: 100%;
  }
}
.home .center .middle .container {
  height: 33%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.home .center .middle .container h1 {
  font-size: 8rem;
  text-align: center;
  color: #EDEDED;
  letter-spacing: 0.8rem;
}
@media (max-width: 1400px) {
  .home .center .middle .container h1 {
    font-size: 6rem;
    margin-bottom: 0rem;
    margin-top: 9rem;
  }
}
@media (max-width: 600px) {
  .home .center .middle .container h1 {
    font-size: 4rem;
    margin-bottom: 0rem;
    margin-top: 9rem;
  }
}
.home .center .middle .container .paragraph {
  width: clamp(300px, 90%, 1000px);
  padding: 1.1rem 10%;
}
.home .center .middle .container .paragraph .text {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  color: #EDEDED;
  font-weight: 300;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.home .center .middle .container .paragraph .text-red {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  color: #EDEDED;
  font-weight: 300;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: #c6503c;
  -webkit-clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
          clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
  background-color: transparent;
  animation: fadeInBackgroundColor 1s ease-in forwards;
}
.home .center .middle .container .paragraph .text-red::before {
  content: " ";
  white-space: pre;
}
.home .center .middle .container .paragraph .text-red::after {
  content: " ";
  white-space: pre;
}
.home .center .middle .spacer {
  height: 34%;
  width: 100%;
}
.home .center .projects {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding-right: 4rem;
}
@media (max-width: 1100px) {
  .home .center .projects {
    padding-right: 0rem;
    opacity: 0 !important;
    width: 0px;
  }
}
.home .center .projects .spacer {
  height: 50%;
  width: 100%;
}
.home .center .projects .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.home .center .projects .container .stack {
  position: relative;
  width: 10.5rem;
  height: 10.5rem;
}
.home .center .projects .container .stack .nav-label {
  position: absolute;
  bottom: -2.3rem;
  left: 2.7rem;
  font-size: 1.5rem;
  color: #eee;
}
.home .center .projects .container .stack .image {
  width: inherit;
  height: inherit;
  transform: rotate(180deg);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  position: absolute;
}
.home .center .projects .container .stack .project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 1.6rem;
  left: 1.4rem;
}

.action-button {
  color: #eee;
  text-align: center;
  margin: 0.25rem;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.action-button:hover {
  color: #000;
  background-color: #ffdb61;
  text-align: center;
  transform: scale(1.04);
  margin: 0.25rem;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.action-button:hover::before {
  content: "   ";
  white-space: pre;
}
.action-button:hover::after {
  content: "   ";
  white-space: pre;
}
.action-button::before {
  content: "   ";
  white-space: pre;
}
.action-button::after {
  content: "   ";
  white-space: pre;
}

.selected-action-button {
  color: #000;
  background-color: #ffdb61;
  text-align: center;
  transform: scale(1.04);
  margin: 0.25rem;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.selected-action-button::before {
  content: "   ";
  white-space: pre;
}
.selected-action-button::after {
  content: "   ";
  white-space: pre;
}

.nav-button {
  color: #eee;
  text-align: center;
  margin: 0.25rem;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.nav-button:hover {
  color: #000;
  background-color: #ffdb61;
  text-align: center;
  transform: scale(1.04);
  margin: 0.25rem;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.nav-button:hover::before {
  content: "   ";
  white-space: pre;
}
.nav-button:hover::after {
  content: "   ";
  white-space: pre;
}
.nav-button::before {
  content: "   ";
  white-space: pre;
}
.nav-button::after {
  content: "   ";
  white-space: pre;
}

.selected-nav-button {
  color: #000;
  background-color: #ffdb61;
  text-align: center;
  transform: scale(1.04);
  margin: 0.25rem;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.selected-nav-button::before {
  content: "   ";
  white-space: pre;
}
.selected-nav-button::after {
  content: "   ";
  white-space: pre;
}

/* project1 page */
.project1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* project2 page */
.project2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* project3 page */
.project3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */