/* Set up */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Lato";
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#actionLabel {
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: "12";
  color: white;
  opacity: "0";
  z-index: 1;
  pointer-events: none;
}

/* Performance switch */
#performance-switch-container {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
}
#performance-switch-container .switchLabel {
  z-index: 1;
  font-size: 14px;
  color: #eee;
  margin: 5px 2px;
  display: flex;
  align-items: center;
}
#performance-switch-container .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 5px;
}
#performance-switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#performance-switch-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  transition: 0.4s;
}
#performance-switch-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #ddd;
  transition: 0.4s;
}
#performance-switch-container .switch input:checked + .slider {
  background-color: #333;
}
#performance-switch-container .switch input:focus + .slider {
  box-shadow: 0 0 1px #333;
}
#performance-switch-container .switch input:checked + .slider:before {
  transform: translateX(20px);
}
#performance-switch-container .switch .slider.round {
  border-radius: 34px;
}
#performance-switch-container .switch .slider.round:before {
  border-radius: 50%;
}

/* Reusable CSS */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Home page */
/* Home page*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100vh;
}
.home .center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
  width: 100%;
}
.home .center .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.home .center .actions .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.home .center .actions .container .stack {
  position: relative;
  width: 200px;
  height: 200px;
}
.home .center .actions .container .stack .image {
  width: inherit;
  height: inherit;
  transform: rotate(0deg);
  position: absolute;
}
.home .center .actions .container .stack .action-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50px;
  right: 50px;
}
.home .center .actions .spacer {
  height: 50%;
  width: 100%;
}
.home .center .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  justify-content: center;
}
.home .center .middle .container {
  height: 33%;
  width: 100%;
}
.home .center .middle .container h1 {
  font-size: 8rem;
  text-align: center;
  color: #eee;
  letter-spacing: 0.8rem;
}
.home .center .middle .container p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #eee;
  font-weight: 300;
}
.home .center .middle .container p::before {
  content: "";
  white-space: pre;
}
.home .center .middle .spacer {
  height: 34%;
  width: 100%;
}
.home .center .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.home .center .projects .spacer {
  height: 50%;
  width: 100%;
}
.home .center .projects .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.home .center .projects .container .stack {
  position: relative;
  width: 200px;
  height: 200px;
}
.home .center .projects .container .stack .image {
  width: inherit;
  height: inherit;
  transform: rotate(180deg);
  position: absolute;
}
.home .center .projects .container .stack .project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.action-button {
  color: #eee;
  text-align: center;
  margin: 4px;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.action-button:hover {
  color: #000;
  background-color: #fbf919;
  text-align: center;
  transform: scale(1.03);
  margin: 4px;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.action-button:hover::before {
  content: "   ";
  white-space: pre;
}
.action-button:hover::after {
  content: "   ";
  white-space: pre;
}
.action-button::before {
  content: "   ";
  white-space: pre;
}
.action-button::after {
  content: "   ";
  white-space: pre;
}

.selected-action-button {
  color: #000;
  background-color: #fbf919;
  text-align: center;
  transform: scale(1.03);
  margin: 4px;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.selected-action-button::before {
  content: "   ";
  white-space: pre;
}
.selected-action-button::after {
  content: "   ";
  white-space: pre;
}

.nav-button {
  color: #eee;
  text-align: center;
  margin: 4px;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.nav-button:hover {
  color: #000;
  background-color: #fbf919;
  text-align: center;
  transform: scale(1.03);
  margin: 4px;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.nav-button:hover::before {
  content: "   ";
  white-space: pre;
}
.nav-button:hover::after {
  content: "   ";
  white-space: pre;
}
.nav-button::before {
  content: "   ";
  white-space: pre;
}
.nav-button::after {
  content: "   ";
  white-space: pre;
}

.selected-nav-button {
  color: #000;
  background-color: #fbf919;
  text-align: center;
  transform: scale(1.03);
  margin: 4px;
  font-size: 1.1rem;
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  cursor: pointer;
}
.selected-nav-button::before {
  content: "   ";
  white-space: pre;
}
.selected-nav-button::after {
  content: "   ";
  white-space: pre;
}

/* project1 page */
.project1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */