
/* Set up */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#actionLabel {
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: '12';
  color: white;
  opacity: '0';
  z-index: 1;
  pointer-events: none;
}

/* Performance switch */
#performance-switch-container {
  display:flex;
  position: absolute;
  right: 0px;
  top: 0px;

  .switchLabel {
      z-index: 1;
      font-size: 14px;
      color: #eee;
      margin: 5px 2px;
      display: flex;
      align-items: center;
    }

  .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      margin: 5px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
  
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #888;
        transition: .4s;
  
        &:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 2px;
          bottom: 2px;
          background-color: #ddd;
          transition: .4s;
        }
      }
  
      input:checked+.slider {
        background-color: #333;
      }
  
      input:focus+.slider {
        box-shadow: 0 0 1px #333;
      }
  
      input:checked+.slider:before {
        transform: translateX(20px);
      }
  
      .slider.round {
        border-radius: 34px;
  
        &:before {
          border-radius: 50%;
        }
      }
    }
}

@import "./mixins";

.main {
  @include flex(column);
}

/* Home page */
@import "./home";

/* project1 page */
@import "./project1";
