@import "./mixins";

/* Set up */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
  @include mobile {
    font-size: 14px;
  }
}

body {
  position: absolute;
  background-color: $backgroundColor;
  margin: 0;
  width: calc(100vw - 16px);
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Lato';
  margin-right: 16px; // space for scroll bar
  color: $textColor;
  @include mobile {
    width: calc(calc(100vw - 16px) + 16px);
    margin-right: 0px;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.line {
  @include mobile(1265px) {
    position: relative;
    left: 10%;
    width: 80%;
    margin: 1rem 0rem;
    border-top: 1px solid rgba(237, 237, 237, 0.8);
  }
}

#actionLabel {
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: '12';
  color: white;
  opacity: '0';
  z-index: 1;
  pointer-events: none;
}

/* Performance switch */
#performance-switch-container {
  display:flex;
  position: absolute;
  right: 0px;
  top: 0px;

  .switchLabel {
      z-index: 1;
      font-size: 14px;
      color: #eee;
      margin: 5px 2px;
      display: flex;
      align-items: center;
    }

  .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      margin: 5px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
  
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #888;
        transition: .4s;
  
        &:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 2px;
          bottom: 2px;
          background-color: #ddd;
          transition: .4s;
        }
      }
  
      input:checked+.slider {
        background-color: #333;
      }
  
      input:focus+.slider {
        box-shadow: 0 0 1px #333;
      }
  
      input:checked+.slider:before {
        transform: translateX(20px);
      }
  
      .slider.round {
        border-radius: 34px;
  
        &:before {
          border-radius: 50%;
        }
      }
    }
}

.email {
  position: absolute;
  text-decoration: none;
  color:rgba(237, 237, 237, 0.94);
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  &:hover {
    transform:translate(-50%, -50%) scale(1.03);
    color: rgba(237, 237, 237, 1);
  }
}

.main {
  @include flex(column);
  justify-content: center;
  overflow-x: hidden;
}

#backToTopButton {
  position: absolute;
  bottom: -297%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  color: rgba(237, 237, 237, 0.94);
  text-decoration: none;
  vertical-align: middle;
  align-content: center;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid rgba(237, 237, 237, 0.94);
  &:hover {
    background-color: rgba(237, 237, 237, 0.94);
    color: black;
  }
}

/* Home page */
@import "./home";

/* projects page */
@import "./project";

/* project1 page */
@import "./project1";

/* project2 page */
@import "./project2";

/* project3 page */
@import "./project3";

/* Popup Window */
@import "./popup";

@import "./image-viewer";